@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
@import'./abstract.scss/variables';
@import'./layout.scss/footer';
@import'./layout.scss/header';
@import'./layout.scss/center';
@import'./abstract.scss/animations';


@media (max-width:780px){
    body {

        display: flex;
        flex-direction: column;
        width: 100vw;
        overflow-x: hidden;

header {
    h1 {
        font-size: 30px;
    }
        #subtext {
            display: none;
        }
       
                }
    }


    
      
        .footer {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;}

        
.container {
    margin: 0px;
    padding: 0;}

        .container-product {
display: flex;            
flex-direction: column;
margin-left: 0px;   }
      
    .img {
        width: 250px;
        height: 250px ;}


        .img-product {
            width: 9vw;
        }
    

    #container-product {
        display: flex;
        flex-direction: column;
        margin: 0px;

        .img-product {
            width: 90vw;
            height: 250px;
            margin: 0px 5px 5px 5px;

        }
    }


    .container-form {
        font-size:25px;
        input {
            height:50px;
            width: 250px;
            color:black;
            font-size: 15px;
        }
        .btn {
            color: black;
            font-size: 10px;
            font-family: 'Major Mono Display', monospace;
            background-color: whitesmoke;
            border-radius: 50%;
            height: 80px;
            width: 80px;
            border:0px;
        }
    }
    }